<div>
  <%= @player_1_name %>
  </div>
  vs
  <div>
<%= @player_2_name %>
</div>
<div>
  <a href='/attack'>Attack</a>
  </div>
    <%= @player_1_name %> vs. <%= $player_2.name %>
    <%= @player_2_name %> vs. <%= $player_1.name %>HP
